<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>
            <label for="name">Логин</label>
            <input type="text" name="name" placeholder="Введите ваше имя "></input>
        </p>
        <p>
            <label for="surname">Пароль</label>
            <input type="text" name="surname" placeholder="Введите фамилию"></input>
        </p>
        <p>
            <label for="password">Пароль</label>
            <input type="text" name="password" placeholder="Введите пароль"></input>
        </p>
        <p>
            <button type="sumbit">Далее</button>
        </p>
    </form>

</body>
</html>