<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>
            <label for="title">title</label>
            <input type="text" name="title" placeholder="title"></input>
        </p>
        <p>
            <label for="description">description</label>
            <input type="text" name="description" placeholder="description"></input>
        </p>
        <p>
            <label for="username">username</label>
            <input type="text" name="username" placeholder="username"></input>
        </p>
        <p>
            <label for="email">email</label>
            <input type="text" name="email" placeholder="email"></input>
        </p>
        <p>
            <button type="sumbit">Далее</button>
            <button type="sumbit">Back</button>
        </p>
        <a href="/">Home</a>
    </form>
    

</body>
</html>